@import "./mobile.css";
@import "./swiper.css";
/* ----------------------------------------------- */
/* WHOLE PAGE SIZE */
/* ----------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  transition: all 0.6s;
}

.navbar-background {
  background-color: #23252b;
}

.navbar--hidden {
  top: -85px;
}

nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  border: 1px solid rgba(0, 0, 0, 0.04);
}

.logo a {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: x-large;
  font-weight: 500;
}

.logo img {
  width: 35px;
  transform: rotate(-45deg);
}

nav .menu {
  display: flex;
}

.menu > li > a {
  color: #fff;
}

.menu .dropdown .mega-menu {
  width: 600px;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #23252b;
  position: absolute;
  top: 100%;
  padding: 10px;
  transition: 1.2s;
}

.mega-menu li {
  float: left;
  width: 25%;
}

.mega-menu li a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff;
  font-size: 0.95rem;
}

.menu .dropdown.active .mega-menu {
  display: block;
  right: 35em;
}

.menu .dropdown.active .mega-menu-hidden {
  top: -500px;
  right: 35em;
}

nav .menu li a {
  height: 40px;
  line-height: 43px;
  margin: 0px 22px;
  display: flex;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}

.search {
  width: 250px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 0px 20px;
}

.search input {
  width: 100%;
  height: 30px;
  color: #fff;
  border: none;
  outline: none;
  background: transparent;
}

::-webkit-input-placeholder {
  color: #fff;
}

::-moz-placeholder {
  color: #fff;
}

::-ms-input-placeholder {
  color: #fff;
}

.search .icon {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
}

nav .menu li a {
  display: inline-block;
  position: relative;
}

nav .menu li a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #e62429;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

nav .menu li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hamburger {
  display: none;
  cursor: pointer;
  list-style: none;
}

/* ----------------------------------------------- */
/* HOME SECTION */
/* ----------------------------------------------- */
#main-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  max-width: 1170px;
  width: 100%;
  padding-top: 150px;
}

.main-slider-box {
  width: 100%;
  height: 450px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #0e0e0ec2;
  position: relative;
  overflow: hidden;
  user-select: none;
}

.main-slider-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-slider-text {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    360deg,
    #161616b9 35%,
    rgba(73, 73, 73, 0.23) 64%
  );
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px;
}

.main-slider-text .quality {
  color: #fff;
  background-color: #e62429;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.5px;
  border-radius: 2px;
  padding: 0px 3px 0px 3px;
  text-transform: uppercase;
}

.main-slider-text .movie-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-slider-text .movie-name strong {
  font-size: 1rem;
  font-weight: 500;
  line-height: 20px;
  margin-top: 10px;
  color: #dfdfdf;
  letter-spacing: 0.5px;
}

.main-slider-text .category {
  color: #969696;
  font-size: 0.8rem;
  font-weight: 500;
}

.main-slider-text .category a {
  color: #e62429;
  margin: 0px 3px;
}

.main-slider-text .category a span {
  color: #fff;
}

.main-slider-text .category-list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
}

.main-slider-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 100%;
  background-color: rgba(27, 27, 27, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: all ease 0.3s;
  z-index: 2;
}

.main-slider-overlay .icon {
  font-size: 2rem;
}

.main-slider-box:hover .main-slider-overlay {
  top: 0px;
  transition: all ease 0.3s;
}
/* ----------------------------------------------- */
/* GENRES SECTION */
/* ----------------------------------------------- */
.body {
  padding-top: 100px;
}

.genres-list {
  border: 1px solid transparent;
  margin: 20px 0 60px;
  padding: 30px 3em;
  background-color: rgba(37, 41, 51, 0.8);
}

.genres-list h1 {
  color: hsla(0, 0%, 100%, 0.7);
  font-size: 24px;
  font-weight: 600;
  padding-left: 17px;
  text-transform: uppercase;
}

.genres-row {
  display: flex;
  flex-wrap: wrap;
}

.genres-text {
  margin-bottom: 15px;
}

.genres-text a {
  color: hsla(0, 0%, 100%, 0.7);
  text-decoration: none;
  padding: 2px 17px 1px;
  margin-bottom: 25px !important;
  transition: 0.25s ease-out;
}

.genres-text a:hover {
  color: #e62429;
}

/* ----------------------------------------------- */
/* ANIME CARD SECTION */
/* ----------------------------------------------- */
.container .lists-box {
  padding-bottom: 60px;
  padding-top: 75px;
}

.container .lists-box h1 {
  color: #ffffff;
  font-weight: 600;
  width: 25%;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 21px;
  padding-left: 20px;
  position: relative;
}

.container .lists-box h1:after {
  content: "";
  position: absolute;
  width: 4px;
  top: -6px;
  left: 0;
  height: 32px;
  background: #e62429;
}

.card-box {
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  gap: 1rem;
  border: 1px solid transparent;
  margin-top: 2rem;
}

.card {
  margin-bottom: 20px;
}

.card-link ~ .card-title-link h3 {
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 5px;
  color: #ffffff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.card a h3 {
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.card a h3:hover,
.card-link:hover ~ .card-title-link h3 {
  color: #e62429;
}

.card .card-img {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 7px 17px -8px rgba(255, 255, 255, 0.4);
  box-shadow: 0 7px 17px -8px rgba(255, 255, 255, 0.4);
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.2s ease;
}

.card .card-img:hover {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

.card .recent-release {
  color: #fff;
  display: flex;
  padding-right: 10px;
  align-items: center;
  justify-content: space-between;
}

.card .top-airing {
  color: #fff;
  display: flex;
  padding-right: 10px;
  align-items: center;
  justify-content: flex-end;
}

.card .popular {
  color: hsla(0, 0%, 100%, 0.7);
}

.card .card-details span {
  font-size: 14px;
}

.card .card-details .subordub {
  border-width: 1.5px;
  border-style: solid;
  padding: 0px 3px 0px 3px;
  border-color: #e62429;
}

.card .card-details .episode {
  padding: 0px 3px 0px 3px;
  border-radius: 2px;
  background-color: #e62429;
}

/* ----------------------------------------------- */
/* DETAILS PAGE */
/* ----------------------------------------------- */
.error-page .error-message div {
  color: #ffffff;
  display: flex;
  justify-content: center;
  width: 100%;
}

.error-page {
  display: flex;
  text-align: center;
  height: calc(100vh - 150px);
  align-items: center;
  justify-content: center;
}

.error-message div a div {
  margin-top: 20px;
  background: transparent;
  cursor: pointer;
  border: 2px solid #e62429;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 12px 15px;
  border-radius: 5px;
}

.details-body {
  padding-top: 150px;
}

.details-card-box {
  margin-bottom: 65px;
}

.details-card {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.card-thumbnail {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.anime-detail-img {
  height: 495px;
  width: 100%;
  position: relative;
}

.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.card-body {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.card-body-text {
  position: relative;
}

.anime-title {
  margin-bottom: 20px;
}

.anime-title h3 {
  color: #e8e8e8;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 13px;
}

.anime-title span {
  font-size: 18px;
  color: #b7b7b7;
  display: block;
}

.genre-box {
  display: flex;
  margin-bottom: 20px;
}

.anime-genre {
  padding: 0px 5px;
  font-size: 15px;
}

.anime-genre a {
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}

.anime-genre a:hover {
  color: #e62429;
}

.anime-genre:first-child {
  padding-left: 0px !important;
}

.anime-genre:last-child {
  padding-right: 0px !important;
}

.card-description {
  color: #b7b7b7;
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 15px;
}

.anime-details-widget {
  margin-bottom: 20px;
}

.anime-details-widget ul{
  margin-bottom: 20px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.anime-details-widget ul li {
  list-style: none;
  font-size: 15px;
  color: #ffffff;
  line-height: 40px;
  position: relative;
  padding-left: 18px;
}

.anime-details-widget ul li span {
  color: #b7b7b7;
  width: 115px;
  display: inline-block;
}

.watchnow-btn {
  background: transparent;
  color: #ffffff;
  cursor: pointer;
  border: 2px solid #e62429;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 14px 20px;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}

.watchnow-btn:hover {
  background-color: #e62429;
}

.watchnow-btn span {
  margin-left: 10px;
}

.coming-soon {
  color: #ffffff;
  font-size: 18pt;
  font-weight: 600;
  letter-spacing: 1px;
}

.read-more-btn {
  margin-left: 5px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: 700;
  color:#e62429;
  transition: all 0.2s ease-in-out;
}

.read-more-btn:hover {
  color:#bb0006;
} 

.ep-box{
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

@media (min-width: 992px) {
  .card-thumbnail {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .row-item-lg {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .card-body {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
}

@media (min-width: 768px) {
  .row-item-md {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.lists-box.movies-box {
  padding-top: 150px !important;
}

.lists-box.popular-box {
  padding-top: 150px;
}

.lists-box.topairing-box {
  padding-top: 150px;
}

.lists-box.search-anime-box {
  padding-top: 150px;
}

.lists-box.genre-anime-box {
  padding-top: 150px;
}

/* ----------------------------------------------- */
/* PLAYER PAGE */
/* ----------------------------------------------- */
.player-wrapper {
  position: relative;
  padding-top: 5%;
  margin-bottom: 60px;
}

.episodes-box {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  margin-top: 25px;
}

.episode-link {
  width: 100%;
  height: 100%;
  max-height: 45px;
  max-width: 80px !important;
  background: rgba(255, 255, 255, 0.2);
  text-align: center;
  align-items: center;
  border-radius: 4px;
  font-size: 15px;
  padding: 10px;
  margin: 0px 15px 20px 0;
}

a.episode-link {
  color: #ffffff;
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}

a.episode-link:hover {
  color: #e62429;
}

a:is(:link, :active, :visited).active {
  color: #e62429;
}
